<form method="POST">
	<div> Username: {{ form.username }} </div>
	<div> Password: {{ form.password }} </div>
	<div> {{ form.submit() }} </div>
	<div> Remember me {{ form.remember() }} </div>
	<input type="hidden"  value= {{ next }}/>
	<h1 name='next'> {{ next }} </h1>
</form>
